language: python
python: 
  - "3.5"
  - "3.6"
  - "3.6.5"

install:
  - pip install -r requirements.txt
  - pip install pytest pytest-cov codecov

script: 
  - pytest --cov-config .coveragerc --cov=./src src/tests.py
  - codecov --token=$CODECOV_TOKEN
